<% include ../partials/header.ejs %>
<div class="container">
<div class="form-container">
  <div class="form-row form-head">
    <div class="form-table-item-big">
      SKU
    </div>
    <div class="form-table-item-small">
      Cost
    </div>
    <div class="form-table-item-small">
      Ng-Amz
    </div>
    <div class="form-table-filler"> </div>
  </div>

  <form action="/products?_method=PUT" method="POST">
    <% var line = 0 %>
    <% products.forEach(function(product) { %>
      <% line += 1 %>
      <div <% if (line % 2 == 0) { %>
        class="form-row form-odd">
      <% } else { %>
        class="form-row">
      <% } %>
        <div class="form-table-item-big">
          <%= product.SKU %>
        </div>
        <div class="form-table-item-small">
          <input onchange="inputChangeHandler(this)" type="number" step="0.01" class="form-control"  name="<%= product.SKU %>[cost]" placeholder="<%= product['cost'] %>">
        </div>
        <div class="form-table-item-small">
          <input onchange="inputChangeHandler(this)" type="number" step="0.01" class="form-control"  name="<%= product.SKU %>[ng-amz]" placeholder="<%= product['ng-amz'] %>">
        </div>
        <div class="form-table-check">
          <input  type="checkbox"  name="<%= product.SKU %>[unused]" 
          <% if (product['unused'] === true ) { %>
            checked
          <% } %>
          >
        </div>
      </div>
      <% }); %>
        <button class="btn btn-success" type="submit">Apply Changes</button>
  </form>

</div>
</div>
  <% include ../partials/footer.ejs %>